*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

/* body{
  background-color: rgb(223, 33, 33);
} */
p {
  font-size: 16px;
}
#root {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  width: 70%;
  height: 100%;
}
header h1 {
  font-weight: 700;
}
.navCon {
  margin: auto;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
}
a {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(220, 14%, 75%);
  text-decoration: none;
  text-align: center;
}
a.headerLink:hover {
  border-bottom: 3px solid hsl(26, 100%, 55%);
  color: hsl(219, 9%, 45%);
}
#left-header {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  text-align: center;
}
#right-header {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  position: relative;
}
#right-header img {
  cursor: pointer;
}
.itemNo {
  width: 100%;
  position: absolute;
}
.badge {
  background-color: darkorange;
  z-index: 9;
  margin-left: 25px;
  margin-top: -33px;
  border-radius: 5px;
  width: fit-content;
  padding: 0 5px;
}
#cartItem {
  width: 20px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
#profilePics {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#profilePics:hover {
  border: 2px solid hsl(26, 100%, 55%);
}
.content {
  margin: 5% auto 0 auto;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  height: fit-content;
  width: 85%;
  gap: 10%;
}
#productImage {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  width: 43%;
  height: fit-content;
  gap: 15px;
}
.imageComp {
  width: 100%;
  height: 70%;
}
.imageComp img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
}
.rightContent {
  margin-top: 6%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  height: fit-content;
  gap: 13px;
}
#productHeader {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 10px;
}
#productHeader h5 {
  color: hsl(26, 100%, 55%);
}
#description p {
  color: hsl(219, 9%, 45%);
  font-weight: lighter;
}
#priceTag {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10%;
}
#priceDetails {
  width: 35%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
#discountPrice {
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
  width: 100%;
  font-weight: lighter;
}
.promo {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 5px;
  border-radius: 5px;
}
#cartDetails {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#productNo {
  width: fit-content;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 40px;
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
}
#productNo img:hover {
  cursor: pointer;
}
.button {
  width: 60%;
  height: 50px;
  background-color: hsl(26, 100%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  color: white;
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 6px 8px 20px 5px hsl(26, 51%, 63%);
}
.valueBtn:hover {
  opacity: 0.7;
}
.lightGallery {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lg-react-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5%;
}
.lg-container {
  opacity: 0.95;
}
.images {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
.images:hover {
  opacity: 0.75;
  border: 3px solid hsl(26, 100%, 55%);
}
#checkOut {
  width: 23%;
  height: 30%;
  border: 2px solid red;
  position: absolute;
  top: 90px;
  right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  background-color: brown;
  gap: 25px;
  border-radius: 10px;
}
#cartCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
#productDesc {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#cartheader {
  width: 100%;
  border-bottom: 1px solid hsl(219, 9%, 45%);
  padding: 15px;
}
.checkOutBtn {
  width: 90%;
  height: 50px;
  background-color: hsl(26, 100%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  color: white;
}
.checkOutBtn :hover {
  cursor: pointer;
}
